<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/addProduct.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('./templates/header') %>
    <div class="body_ADD">
        <center>
            <h1>Carga de Productos</h1>
        </center>
        <form class="form_add" action="GET">

            <div class="addPro">
                <div><label for="marca">NOMBRE DEL PRODUCTO</label> <input type="text" name="nombre_producto" id="nombre_producto" placeholder="Nombre del producto"></div>
                <div><label for="Categoria">CATEGORIA</label> <input type="text" name="categoria" id="categoria" placeholder="Categoria"></div>
                <div><label for="marca">MARCA</label> <input type="text" name="marca" id="marca" placeholder="Marca del producto"></div>
                <div><label for="talle">TALLE</label> <input type="text" name="talle" id="talle" placeholder="Talle del producto"></div>
                <div><label for="color">COLOR</label> <input type="text" name="color" id="color" placeholder="Color del producto"></div>
                <div><label for="descripcion">DESCRIPCION</label> <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion del producto"></div>
                <div><label for="imagenes">AGREGAR IMAGENES</label><input class="agregarImagen" type="file" name="agregarImagen" value="agregarImagen"></div>
                <div><label for="precio">PRECIO</label> <input type="number" name="precio" id="precio" placeholder="Precio del producto"></div>
                <div><label for="Cantidad">CANTIDAD</label><input type="number" name="cantidad" id="cantidad"></div>
            </div>
            <section class="butt_add">
                <button class="reset" type="reset">Resetear Formulario</button>
                <button class="agregarProducto" type="submit">Agregar Producto</button>
            </section>
        </form>


    </div>  
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
</body>

</html>