<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  <!-- HEADER -->
    <%- include('./templates/header_full') %>
  <!-- BODY -->
  <div class="body_container">
    <!--MUJER-->
    <div class="body_contentW"> 
      <!--FOTO Y TEXTO MUJER-->
      <div class="mujer">
        <img src="/images/pexels-ketut-subiyanto-44263252.jpg" alt="">
        <h2>INNOVATION</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem consequuntur repellat accusamus. Quasi, hic eos reiciendis, quae repudiandae tenetur aut cum numquam, facere quis porro distinctio odio praesentium veritatis earum.</p>
      </div>
      <!--PRODUCTOS MUJER-->
      <div class = "productmujerbloque">
        <section class="productmujer">
          <article class="art">
            <i class="far fa-heart"></i>
            <div class="imagen">
              <img src="/images/Top.png" alt="">
            </div>
            <div class="textos">
              <p class="nombreart">TOP DEPORTIVO</p>
              <p class="precioart">$2.499,00</p>
              <a href="/product" class="addbasket">COMPRAR</a>
            </div>  
          </article>
          <article class="art">
            <i class="far fa-heart"></i>
            <div class="imagen">
              <img src="/images/air-max-2090.png" alt="">
            </div>
            <div class="textos">
              <p class="nombreart">ZAPATILLA NIKE RUN</p>
              <p class="precioart">$12.499,00</p>
              <a href="#" class="addbasket">COMPRAR</a>
            </div>  
          </article>
          <article class="art">
            <i class="far fa-heart"></i>
            <div class="imagen">
              <img src="/images/musculosa-primeblue.png " alt="">
            </div>
            <div class="textos">
              <p class="nombreart">MUSC. PRIME BLUE</p>
              <p class="precioart">$4.299,00</p>
              <a href="#" class="addbasket">COMPRAR</a>
            </div>  
          </article>
          <article class="art">
            <i class="far fa-heart"></i>
            <div class="imagen">
              <img src="/images/Remera-Nike.png " alt="">
            </div>
            <div class="textos">
              <p class="nombreart">REMERA ICON CLASH</p>
              <p class="precioart">$4.799,00</p>
              <a href="#" class="addbasket">COMPRAR</a>
            </div> 
          </article>            
        </section>
      </div>  
    </div>  
    <!--HOMBRE-->
    <div class="body_contentM">
        <!--FOTO Y TEXTO HOMBRE-->
        <div class="hombre">
          <img src="/images/pexels-andrea-piacquadio-3771058 2.png" alt="">
          <h2>INNOVATION</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem consequuntur repellat accusamus. Quasi, hic eos reiciendis, quae repudiandae tenetur aut cum numquam, facere quis porro distinctio odio praesentium veritatis earum.</p>
        </div>
        <!--PRODUCTOS HOMBRE-->
        <div class="producthombrebloque">
          <section class="producthombre">
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Short hombre.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">SHORT M10</p>
                <p class="precioart">$2.299,00</p>
                <a href="#" class="addbasket">COMPRAR</a>
              </div>                    
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/nike-shoes hombre.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">ZAPATILLA NIKE RUN</p>
                <p class="precioart">$12.499,00</p>
                <a href="#" class="addbasket">COMPRAR</a>
              </div> 
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/tracksuit-adidas.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">CAMPERA ADIDAS NEG.</p>
                <p class="precioart">$3.250,00</p>
                <a href="#" class="addbasket">COMPRAR</a>
              </div> 
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Remera Hombre.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">REMERA TECH PACK</p>
                <p class="precioart">$4.799,00</p>
                <a href="#" class="addbasket">COMPRAR</a>
              </div> 
            </article>                     
          </section>
        </div>
    </div>
    <!--BANNER PROMOS-->  
    <div class="bannerpromo">
      <H1>SUSCRIBITE Y ENTERATE DE LAS NOVEDADES Y OBTENÉ 15% DE DESCUENTO </H1>
        <div class="boxemail">
          <form action="meli.ejs" method="get">
              <p><label for="email"></label></p>
              <p><input type="email" id="email" name="email" placeholder="E-mail"></p>
          </form>
          <div class="enviar">
            <p><button type="submit" value=""></button></p>
            <i class="fas fa-arrow-right"></i>
          </div>  
      </div>

    </div>
  </div>
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
</body>

</html>