<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>
    
    <header>
      <nav>
        <!-- MENU IZQUIERDA -->
        <div class="menu">
          <div class="brand">
            <img src="/images/logo 500x500.png" alt="">
          </div>
          <div class="link">
            <a href="#">MUJER</a>
            <a href="#">HOMBRE</a>
            <a href="#">ACCESORIOS</a>
            <a href="#">NOVEDADES</a>
          </div>
        </div>
        <!-- MENU DERECHA -->
        <div class="auth">
          <div class="reg search">
            <label for="name" class="btn_search">
              <i class="fas fa-search"></i>
            </label>
            <input type="text" name="search" class="input_search" placeholder="Buscar">
          </div>
          <a href="#" class="reg">Registrate</a>
          <a href="#" class="reg">Ingresar</a>
        </div>
      </nav>


      <!-- MENU DESPLEGABLE -->
      <div class="menu_mujer">
          <!-- Seccion 1 -->
          <div class="sec1">
            <div class="leftlink">
              <ul>
                <li class="flist"><a href="#">Novedades</a></li>
                <li><a href="#">Los más vendidos</a></li>
                <li><a href="#">Deportes</a></li>
                <li><a href="#">Outlet</a></li>
              </ul>
            </div>
          </div>
          <!-- Seccion 2 -->
          <div class="sec2">
            <div class="column left">
              <div class="column">
                <ul>
                  <li class="flist"><a href="#">ROPA DE MUJER <i class="fas fa-arrow-right"></i></a></li>
                  <li><a href="#">Calzas</a></li>
                  <li><a href="#">Abrigos/Camperas</a></li>
                  <li><a href="#">Zapatillas</a></li>
                  <li><a href="#">Buzos</a></li>
                  <li><a href="#">Joggers</a></li>
                  <li><a href="#">Pantalones</a></li>
                  <li><a href="#">Remeras</a></li>
                </ul>
              </div>
              <div class="column">
                <ul>
                  <li class="flist2"><a href="#">Shorts</a></li>
                  <li><a href="#">Faldas</a></li>
                  <li><a href="#">Medias</a></li>
                  <li><a href="#">Corpiños deportivos</a></li>
                  <li><a href="#">Sweaters</a></li>
                  <li><a href="#">Traje de baño</a></li>
                  <li><a href="#">Ropa interior</a></li>
                </ul>
              </div>
            </div>
            <div class="column right">
              <div class="column">
                <ul>
                  <li class="flist"><a href="#">ACCESORIOS <i class="fas fa-arrow-right"></i></a></li>
                  <li><a href="#">Calzas</a></li>
                  <li><a href="#">Abrigos/Camperas</a></li>
                  <li><a href="#">Zapatillas</a></li>
                  <li><a href="#">Buzos</a></li>
                  <li><a href="#">Joggers</a></li>
                  <li><a href="#">Pantalones</a></li>
                  <li><a href="#">Remeras</a></li>
                </ul>
            </div>
            </div>

          </div>
          <!-- Seccion 3 -->
          <div class="sec3">
            <div>
              <ul>
                <img src="/images/header.jpeg" alt="">
                <h3>Tu dia es para entrenar.</h3>
                <p>Pantalones con innovación atlética para la vida cotidiana.</p>
                <a href="">Comprar pantalon <i class="fas fa-arrow-right"></i></a>
              </ul>
            </div>
          </div>
      
      </div>
    </header>

  </body>
</html>
