<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
</head>

<body>
  <!-- HEADER -->
    <%- include('./templates/header_full') %>
  <!-- BODY -->
  <div class="body_container">
    <!--MUJER-->
    <div class="body_contentW"> 
      <!--FOTO Y TEXTO MUJER-->
      <div class="bannerWoman">
        <h2 class="title multiply">innovacion</h2>
        <p class="subtitle">SHOP NOW</p>
      </div>
      <!--PRODUCTOS MUJER-->
      <div class="slider_container">
        <h2>BASADO EN TUS ULTIMAS BUSQUEDAS</h2>
        <ul class="slider">
          <li id="slide1" class="slide1">
            <% for( let index = 0; index < 5; index++ ) { %>
              <article class="product">
                <i class="far fa-heart"></i>
                <div class="product_inside">
                  <div class="product_image_conteiner">
                    <img src="/images/Top.png" alt="">
                  </div>
                  <div class="textos">
                    <p class="nombreart">TOP DEPORTIVO</p>
                    <p class="precioart">$2.499,00</p>
                    <a href="/product" class="addbasket">COMPRAR</a>
                  </div>  
                </div>
              </article>
            <% } %>
          </li>
          <li id="slide2" class="slide2">
            <% for( let index = 0; index < 5; index++ ) { %>
              <article class="product">
                <i class="far fa-heart"></i>
                <div class="product_inside">
                  <div class="product_image_conteiner">
                    <img src="/images/Top.png" alt="">
                  </div>
                  <div class="textos">
                    <p class="nombreart">ZAPATILLA DEPORTIVO</p>
                    <p class="precioart">$2.499,00</p>
                    <a href="/product" class="addbasket">COMPRAR</a>
                  </div>  
                </div>
              </article>
            <% } %>
          </li>
          <li id="slide3" class="slide3">
            <% for( let index = 0; index < 5; index++ ) { %>
              <article class="product">
                <i class="far fa-heart"></i>
                <div class="product_inside">
                  <div class="product_image_conteiner">
                    <img src="/images/Top.png" alt="">
                  </div>
                  <div class="textos">
                    <p class="nombreart">CALZA DEPORTIVO</p>
                    <p class="precioart">$2.499,00</p>
                    <a href="/product" class="addbasket">COMPRAR</a>
                  </div>  
                </div>
              </article>
            <% } %>
          </li>
        </ul>
        <ul class="slider_menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
           <li>
            <a href="#slide3"></a>
          </li>
        </ul>
        
      </div>
    </div>
    <!--BANNER PROMOS-->  
    <div class="bannerpromo">
      <H1>SUSCRIBITE Y ENTERATE DE LAS NOVEDADES Y OBTENÉ 15% DE DESCUENTO </H1>
        <div class="boxemail">
          <form action="meli.ejs" method="get">
              <p><label for="email"></label></p>
              <p><input type="email" id="email" name="email" placeholder="E-mail"></p>
          </form>
          <div class="enviar">
            <p><button type="submit" value=""></button></p>
            <i class="fas fa-arrow-right"></i>
          </div>  
      </div>

    </div>
    <!--HOMBRE-->
    <div class="body_contentM">
        <!--FOTO Y TEXTO HOMBRE-->
        <div class="bannerMen">
          <h2 class="title multiply">innovacion</h2>
          <p class="subtitle">SHOP NOW</p>
        </div>
        <!--PRODUCTOS HOMBRE-->
        <div class="slider_container">
          <ul class="slider">
            <li id="slide1" class="slide1">
              <% for( let index = 0; index < 4; index++ ) { %>
                <article class="product">
                  <i class="far fa-heart"></i>
                  <div class="imagen">
                    <img src="/images/Top.png" alt="">
                  </div>
                  <div class="textos">
                    <p class="nombreart">TOP DEPORTIVO</p>
                    <p class="precioart">$2.499,00</p>
                    <a href="/product" class="addbasket">COMPRAR</a>
                  </div>  
                </article>
              <% } %>
            </li>
            <li id="slide2" class="slide2">
              <% for( let index = 0; index < 4; index++ ) { %>
                <article class="product">
                  <i class="far fa-heart"></i>
                  <div class="imagen">
                    <img src="/images/Top.png" alt="">
                  </div>
                  <div class="textos">
                    <p class="nombreart">ZAPATILLA NIKE</p>
                    <p class="precioart">$2.499,00</p>
                    <a href="/product" class="addbasket">COMPRAR</a>
                  </div>  
                </article>
              <% } %>
            </li>
            <li id="slide3" class="slide3">
              <% for( let index = 0; index < 4; index++ ) { %>
                <article class="product">
                  <i class="far fa-heart"></i>
                  <div class="imagen">
                    <img src="/images/Top.png" alt="">
                  </div>
                  <div class="textos">
                    <p class="nombreart">TOP DEPORTIVO</p>
                    <p class="precioart">$2.499,00</p>
                    <a href="/product" class="addbasket">COMPRAR</a>
                  </div>  
                </article>
              <% } %>
            </li>
          </ul>
          <ul class="slider_menu">
            <li>
              <a href="#slide1"></a>
            </li>
            <li>
              <a href="#slide2"></a>
            </li>
             <li>
              <a href="#slide3"></a>
            </li>
          </ul>
          
        </div>
    </div>
  </div>
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
</body>

</html>