<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="header">
            <img src="images/logo 500x500.png" alt="logo" class="logo">
            <ul class="div__links">
              <li><a href="#">MUJER</a></li>
              <li><a href="#">HOMBRE</a></li>
              <li><a href="#">ACCESORIOS</a></li>
              <li><a href="#">NOVEDADES</a></li>
            </ul>
          <div class="div__reg">
            <li><i class="fas fa-search"></i><input type="text" placeholder="Buscar"></li>
            <li><a class="reg" href="">Registrate</a></li>
            <li><a class="reg" href="">Ingresa</a></li>
          </div>
      </div>
    </div>
  </body>
</html>
