<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/carousel.css'/>
</head>

<body>
  <!-- HEADER -->
    <%- include('./templates/header_full') %>
  <!-- BODY -->
  <div class="body_container">
    <!--MUJER-->
    <div class="body_contentW"> 
      <!--FOTO Y TEXTO MUJER-->
      <div class="bannerWoman">
        <h2 class="title multiply">innovacion</h2>
        <p class="subtitle">SHOP NOW</p>
      </div>
      <!--PRODUCTOS MUJER-->
      <div class="slider_container">
        <h2>LO MEJOR DE SPORTLAND</h2>
        <div class="carousel">
          <div class="slides">
              <div class="slide">
                  <% for( let index = 0; index < 5; index++ ) { %>
                      <article class="product">
                        <i class="far fa-heart"></i>
                        <div class="product_inside">
                          <div class="product_image_conteiner">
                            <img src="/images/stock/Top.png" alt="">
                          </div>
                          <div class="product_text">
                            <p class="product_name">TOP DEPORTIVO DON'T REST ALPHASKIN</p>
                            <p class="product_price">$2.499,00</p>
                            <a href="/product" class="addbasket">COMPRAR</a>
                          </div>  
                        </div>
                      </article>
                    <% } %>
              </div>
              <div class="slide">
                  <% for( let index = 0; index < 5; index++ ) { %>
                      <article class="product">
                        <i class="far fa-heart"></i>
                        <div class="product_inside">
                          <div class="product_image_conteiner">
                            <img src="/images/stock/running-shoes-9.png" alt="">
                          </div>
                          <div class="product_text">
                            <p class="product_name">ZAPATILLAS TERREX TWO ULTRA PARLEY TRAIL RUNNING</p>
                            <p class="product_price">$2.499,00</p>
                            <a href="/product" class="addbasket">COMPRAR</a>
                          </div>  
                        </div>
                      </article>
                    <% } %>
              </div>
              <div class="slide">
                  <% for( let index = 0; index < 5; index++ ) { %>
                      <article class="product">
                        <i class="far fa-heart"></i>
                        <div class="product_inside">
                          <div class="product_image_conteiner">
                            <img src="/images/Top.png" alt="">
                          </div>
                          <div class="product_text">
                            <p class="product_name">TOP DEPORTIVO</p>
                            <p class="product_price">$2.499,00</p>
                            <a href="/product" class="addbasket">COMPRAR</a>
                          </div>  
                        </div>
                      </article>
                    <% } %>
              </div>
          </div>
          <div class="controls">
            <i class="control fas fa-chevron-left prev-slide"></i>
            <!-- <div class="control prev-slide">&#9668;</div> -->
            <i class="control fas fa-chevron-right next-slide"></i>
            <!-- <div class="control next-slide">&#9658;</div> -->
            
          </div>
      </div>
      </div>
    </div>
    <!--BANNER PROMOS-->  
    <div class="bannerpromo">
      <H1>SUSCRIBITE Y ENTERATE DE LAS NOVEDADES Y OBTENÉ 15% DE DESCUENTO </H1>
        <div class="boxemail">
          <form class="emailform" action="meli" method="get">
              <input type="email" id="email" name="email" placeholder="E-mail">
              <div class="enviar">
                <button type="submit" value=""></button>
                <i class="fas fa-arrow-right"></i>
              </div> 
          </form>
      </div>

    </div>
    <!--HOMBRE-->
    <div class="body_contentM">
        <!--FOTO Y TEXTO HOMBRE-->
        <div class="bannerMen">
          <h2 class="title multiply">innovacion</h2>
          <p class="subtitle">SHOP NOW</p>
        </div>
        <!--PRODUCTOS HOMBRE-->
        <div class="slider_container">
          <h2>PRODUCTOS DESTACADOS HOMBRE</h2>
          <div class="carousel">
            <div class="slides">
                <div class="slide">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <article class="product">
                          <i class="far fa-heart"></i>
                          <div class="product_inside">
                            <div class="product_image_conteiner">
                              <img src="/images/stock/Top.png" alt="">
                            </div>
                            <div class="product_text">
                              <p class="product_name">TOP DEPORTIVO DON'T REST ALPHASKIN</p>
                              <p class="product_price">$2.499,00</p>
                              <a href="/product" class="addbasket">COMPRAR</a>
                            </div>  
                          </div>
                        </article>
                      <% } %>
                </div>
                <div class="slide">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <article class="product">
                          <i class="far fa-heart"></i>
                          <div class="product_inside">
                            <div class="product_image_conteiner">
                              <img src="/images/stock/running-shoes-9.png" alt="">
                            </div>
                            <div class="product_text">
                              <p class="product_name">ZAPATILLAS TERREX TWO ULTRA PARLEY TRAIL RUNNING</p>
                              <p class="product_price">$2.499,00</p>
                              <a href="/product" class="addbasket">COMPRAR</a>
                            </div>  
                          </div>
                        </article>
                      <% } %>
                </div>
                <div class="slide">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <article class="product">
                          <i class="far fa-heart"></i>
                          <div class="product_inside">
                            <div class="product_image_conteiner">
                              <img src="/images/Top.png" alt="">
                            </div>
                            <div class="product_text">
                              <p class="product_name">TOP DEPORTIVO</p>
                              <p class="product_price">$2.499,00</p>
                              <a href="/product" class="addbasket">COMPRAR</a>
                            </div>  
                          </div>
                        </article>
                      <% } %>
                </div>
            </div>
            <div class="controls">
              <i class="control fas fa-chevron-left prev-slide"></i>
              <!-- <div class="control prev-slide">&#9668;</div> -->
              <i class="control fas fa-chevron-right next-slide"></i>
              <!-- <div class="control next-slide">&#9658;</div> -->
              
            </div>
        </div>
          
        </div>
    </div>
  </div>
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
  <script src="/javascripts/carousel.js"></script>
</body>

</html>