<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/carousel.css'/>
    <link rel='stylesheet' href='/stylesheets/destacado.css'/>
</head>

<body>
  <!-- HEADER -->
    <%- include('./templates/header_full') %>
  <!-- BODY -->
  <div class="body_container">
    <!--MUJER-->
    <div class="body_contentW"> 
      <!--FOTO Y TEXTO MUJER-->
      <div class="featured_product_container">
        <div class="circle_product">
          <div class="circle_texture">
            <img class="circle_product_inside" src="/images/products/running-shoes-5.png" alt="">
          </div>
        </div>
        <div class="featured_product">
          <div class="featured_product_text_container">
            <div class="featured_product_texts">
              <h2>NOVA RUN</h2>
              <h3>MEN'S RUNNING</h3>
            </div>

          </div>
        </div>
      </div>
      <!--PRODUCTOS MUJER-->
      <div class="slider_container">
        <h2>LO MEJOR DE SPORTLAND</h2>
        <div class="slider">
          <div class="slides">
              <div class="slide">
                  <% for( let index = 0; index < 5; index++ ) { %>
                      <article class="product">
                        <div class="product_img">
                          <img src="/images/products/stock1.jpeg" alt="">
                        </div>
                        <div class="product_bot">
                          <div class="product_title">
                            <p>CALZAS NIZZA HI RF</p>
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                          <div class="product_price">
                            <p>ARS 3.500</p>
                          </div>
                          <div class="product_btns">
                            <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                            <a class="btn_buy" href="">AGREGAR AL CARRITO</a>
                          </div>
                        </div>
                      </article>
                    <% } %>
              </div>
              <div class="slide">
                  <% for( let index = 0; index < 5; index++ ) { %>
                      <article class="product">
                        <div class="product_img">
                          <img src="/images/pexels-photo-4194672.jpeg" alt="">
                        </div>
                        <div class="product_bot">
                          <div class="product_title">
                            <p>CALZAS NIZZA HI RF</p>
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                          <div class="product_price">
                            <p>ARS 3.500</p>
                          </div>
                          <div class="product_btns">
                            <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                            <a class="btn_buy" href="">AGREGAR AL CARRITO</a>
                          </div>
                        </div>
                      </article>
                    <% } %>
              </div>
              <div class="slide">
                  <% for( let index = 0; index < 5; index++ ) { %>
                      <article class="product">
                        <div class="product_img">
                          <img src="/images/pexels-photo-4194672.jpeg" alt="">
                        </div>
                        <div class="product_bot">
                          <div class="product_title">
                            <p>CALZAS NIZZA HI RF</p>
                            <div class="stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </div>
                          </div>
                          <div class="product_price">
                            <p>ARS 3.500</p>
                          </div>
                          <div class="product_btns">
                            <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                            <a class="btn_buy" href="">AGREGAR AL CARRITO</a>
                          </div>
                        </div>
                      </article>
                    <% } %>
              </div>
          </div>
          <div class="controls">
            <i class="control fas fa-chevron-left prev-slide"></i>
            <!-- <div class="control prev-slide">&#9668;</div> -->
            <i class="control fas fa-chevron-right next-slide"></i>
            <!-- <div class="control next-slide">&#9658;</div> -->
          </div>
        </div>
      </div>
      <div class="bannercontainer">
        <div class="bannerpromo">
          <h2>SUSCRIBITE Y OBTENÉ 15% DE DESCUENTO</h2>
          <div class="email">
            <form action="">
              <input type="text" class="email__input" placeholder="Email...">
              <div class="email__icon">
                <i name='email' class="far fa-envelope"></i>
              </div>
              <button class="btn" type="submit"><i class="fas fa-share"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="sponsors_container">
        <div class="sponsors">
          <div class="sponsor">
            <img src="/images/sponsors/adidas.png" alt="">
          </div>
          <div class="sponsor">
            <img src="/images/sponsors/fila.png" alt="">
          </div>
          <div class="sponsor">
            <img src="/images/sponsors/new-balance-logo.png" alt="">
          </div>
          <div class="sponsor">
            <img src="/images/sponsors/nike.png" alt="">
          </div>
          <div class="sponsor">
            <img src="/images/sponsors/puma.png" alt="">
          </div>
          <div class="sponsor">
            <img src="/images/sponsors/under.png" alt="">
          </div>
        </div>
      </div>
    </div> 
    <!--BANNER PROMOS-->  
    <!--HOMBRE-->
    <div class="body_contentM">
        <!--FOTO Y TEXTO HOMBRE--> 
        <!--PRODUCTOS HOMBRE-->
        <div class="slider_container">
          <h2>LO MEJOR DE SPORTLAND</h2>
          <div class="slider">
            <div class="slides">
                <div class="slide">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <article class="product">
                          <div class="product_img">
                            <img src="/images/pexels-photo-4194672.jpeg" alt="">
                          </div>
                          <div class="product_bot">
                            <div class="product_title">
                              <p>CALZAS NIZZA HI RF</p>
                              <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="product_price">
                              <p>ARS 3.500</p>
                            </div>
                            <div class="product_btns">
                              <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                              <a class="btn_buy" href="">AGREGAR AL CARRITO</a>
                            </div>
                          </div>
                        </article>
                      <% } %>
                </div>
                <div class="slide">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <article class="product">
                          <div class="product_img">
                            <img src="/images/pexels-photo-4194672.jpeg" alt="">
                          </div>
                          <div class="product_bot">
                            <div class="product_title">
                              <p>CALZAS NIZZA HI RF</p>
                              <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="product_price">
                              <p>ARS 3.500</p>
                            </div>
                            <div class="product_btns">
                              <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                              <a class="btn_buy" href="">AGREGAR AL CARRITO</a>
                            </div>
                          </div>
                        </article>
                      <% } %>
                </div>
                <div class="slide">
                    <% for( let index = 0; index < 5; index++ ) { %>
                        <article class="product">
                          <div class="product_img">
                            <img src="/images/pexels-photo-4194672.jpeg" alt="">
                          </div>
                          <div class="product_bot">
                            <div class="product_title">
                              <p>CALZAS NIZZA HI RF</p>
                              <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                            <div class="product_price">
                              <p>ARS 3.500</p>
                            </div>
                            <div class="product_btns">
                              <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                              <a class="btn_buy" href="">AGREGAR AL CARRITO</a>
                            </div>
                          </div>
                        </article>
                      <% } %>
                </div>
            </div>
            <div class="controls">
              <i class="control fas fa-chevron-left prev-slide"></i>
              <!-- <div class="control prev-slide">&#9668;</div> -->
              <i class="control fas fa-chevron-right next-slide"></i>
              <!-- <div class="control next-slide">&#9658;</div> -->
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
  <script src="/javascripts/carousel.js"></script>
</body>

</html>