<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('./templates/header') %>
    <!-- Form -->
  <div class="body_container">
    <div class="form_login">
        <!-- Formulario Login y Registro -->
        <form>
            <div class="con">
                <section class="head-form">
                    <h2>Iniciar sesión</h2>
                    <!--     Mensaje de login -->
                    <p>Ingresa tu mail y contraseña por favor.</p>
                </section>
                <br>
                <div class="field-set">
                    <!--   user name Input-->
                    <input class="form-input" id="txt-input" type="email" placeholder="user@mail.com" required>
                    <br>
                    <!--   Password Input-->
                    <input class="form-input" type="password" placeholder="Contraseña" id="pwd" name="password" required>
                    <!--      mostrar / ocultar password  -->
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>
                    <br>
                    <!--      button LogIn -->
                    <button class="log-in"> Ingresar </button>
                </div>
                <!--      button olvide mi password -->
                <div class="other">
                    <!--      Forgot Password button-->
                    <button class="btn submits frgt-pass">Olvide mi Password</button>
                    <!--     Sign Up button -->
                    <a href="/register">
                        <button class="btn submits sign-up">Registrarse
                        <!--         Sign Up font icon -->
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </a>
                    </button>
                        <!--      End Other the Division -->
                </div>
                <!--   End Conrainer  -->
            </div>
            <!-- End Form -->
        </form>
    </div>
  </div>
  <!-- HEADER -->
  <%- include('./templates/footer') %>
</body>
<script src="/javascripts/log_reg.js"></script>

</html>

