<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/products.css' />
  </head>
  <body>
  <!-- HEADER -->
  <%- include('./templates/header') %>
    <!-- BODY -->
      <div class="body_container">
        <div class="h_filter_diagram">
          <div class="h_filter_left">
            <a href="#">Atras</a>
          </div>
          <div class="h_filter_right">
            <div class="h_filter_pos">
              <a href="/">Inicio</a>
              <p>/</p>
              <a href="#">Los más vendidos</a>
            </div>
            <div class="h_filter_article">
              <p>54 Articulos</p>
            </div>
          </div>
        </div>
        <div class="products_container">
          <div class="filter">
            <ul>
              <li></li>
            </ul>
          </div>
          <div class="products">
            <!-- Producto -->
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
            <article class="art">
              <i class="far fa-heart"></i>
              <div class="imagen">
                <img src="/images/Top.png" alt="">
              </div>
              <div class="textos">
                <p class="nombreart">TOP DEPORTIVO</p>
                <p class="precioart">$2.499,00</p>
                <a href="/product" class="addbasket">COMPRAR</a>
              </div>  
            </article>
          </div>
        </div>
      </div>
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
  </body>
</html>
