<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('./templates/header') %>
    <!-- Form -->
    <div class="body_container">
        <div class="form_login">
            <!-- Formulario Login y Registro -->
            <form>
                <div class="con">
                    <section class="head-form">
                        <h2>Crea tu cuenta</h2>
                    </section>
                    <!--     End  header Content  -->
                    <br />
                    <div class="field-config">
                        <!--   user name -->

                        <input class="form-input" id="txt-input" required="" type="text" placeholder="Nombre" id="txt-input" />
                        <input class="form-input" id="txt-input" required="" type="text" placeholder="Apellido" />
                        <input class="form-input" id="txt-input" required="" type="tel" placeholder="Celular" />
                        <input class="form-input" id="txt-input" required="" type="email" placeholder="E-mail" />
                        <input class="form-input" id="txt-input" required="" type="password" placeholder="Contraseña" />
                        <input class="form-input" id="txt-input" required="" type="email" placeholder="Repita contraseña" />
                        <br />

                        <span>
                        </span>
                        <br />
                    </div>

                    <!--      button LogIn --><button class="log-in" style="padding-bottom: 0px">
                        Ingresar
                    </button>
                </div>
                <!-- End Form -->
            </form>
        </div>
    </div>
  <!-- HEADER -->
  <%- include('./templates/footer') %>
</body>
<script src="/javascripts/log_reg.js"></script>

</html>