<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/acordeon.css'/>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>

<body>
<!-- HEADER -->
<%- include('./templates/header_full') %>
  <div class="body_container">
  </div>
<!-- FOOTER -->
    <%- include('./templates/footer') %>
    <script src="/javascripts/acordeon.js"></script>
</body>
<script>
  $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
		};
	}	

	var accordion = new Accordion($('#accordion'), false);
});
</script>
</html>