<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
</head>

<body>
<!-- HEADER -->
  <%- include('./templates/header') %>
  <div class="body_container">
      
  </div>
<!-- FOOTER -->
    <%- include('./templates/footer') %>
</body>

</html>