<footer>
  <nav>
      <div class="footer">
          <div class="footer_content">

              <!-- ·* Columna 1 -->
              <div class="f_col1">
                  <div class="f_col1_top">
                      <h3>Mas informacion de la pagina</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, exercitationem libero incidunt eius dolore possimus facere ut consequuntur nisi esse. Labore ut nisi a assumenda? Ipsam, alias quas. Ex, adipisci?</p>
                  </div>
                  <div class="f_col1_bot">
                      <div class="f_col1_bot_content">
                          <h3>Comunicate con nosotros</h3>
                          <p><i class="fas fa-phone-alt"></i> +54 9 221 592-7586</p>
                      </div>
                      <div class="f_col1_bot_content">
                          <h3>Locales mas cercanos</h3>
                          <p><i class="fas fa-map-marker-alt"></i> Calle 47 n1621</p>
                          <p><i class="fas fa-map-marker-alt"></i> Calle 47 n1621</p>
                          <p><i class="fas fa-map-marker-alt"></i> Calle 47 n1621</p>
                      </div>
                  </div>
              </div>

              <!-- ·* Columna 2 -->
              <div class="f_col2">
                  <div class="f_col2_content">
                      <h3>Seguinos en redes sociales</h3>
                      <div class="f_link">
                          <a href=""><i class="fab fa-facebook-square"></i>Facebook</a>
                      </div>
                      <div class="f_link">
                          <a href=""><i class="fab fa-instagram-square"></i>Instagram</a>
                      </div>
                      <div class="f_link">
                          <a href=""><i class="fab fa-twitter-square"></i>Twitter</a>
                      </div>
                  </div>
              </div>

              <!-- ·* Columna 3 -->
              <div class="f_col3">
                  <div class="f_col3_content">
                      <h3>TÉRMINOS Y CONDICIONES</h3>
                      <ul>
                          <li><a href="#">Términos y Condiciones</a></li>
                          <li><a href="#">Política de Privacidad</a></li>
                          <li><a href="#">Política de Cookies</a></li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </nav>
</footer>