<header>
    <nav>
      <!-- MENU IZQUIERDA -->
      <div class="menu">
        <div class="brand">
          <a href="/"><img src="/images/logo 500x500.png" alt=""></a>
        </div>
      </div>
      <!-- MENU DERECHA -->
      <div class="auth">
        <div class="container">
          <a href="/user/login" class="reg" target="_blank">
            <button class="btn social">
              <div class="icon-container">
                <i class="fas fa-sign-in-alt"></i>
              </div>
            </button>
          </a>
        </div>
      </div>
    </nav>


  </header>