<header>
    <nav>
      <!-- MENU IZQUIERDA -->
      <div class="menu">
        <div class="brand">
          <a href="/"><img src="/images/logo 500x500.png" alt=""></a>
        </div>
      </div>
      <!-- MENU DERECHA -->
      <div class="auth">
        <a href="/user/login" class="log"><i class="fas fa-sign-in-alt"></i></a>
    </div>
    </nav>


  </header>