<header>
  <nav>
    <!-- MENU IZQUIERDA -->
    <div class="menu">
      <div class="brand">
        <a href="/"><img src="/images/logo 500x500.png" alt=""></a>
      </div>
      <div class="link">
        <a class="link_m" href="#">MUJER</a>  
        <div class="menu_desplegable _mujer">
            <!-- Seccion 1 -->
            <div class="sec1">
              <div class="leftlink">
                <ul>
                  <li class="flist"><a href="#">Novedades</a></li>
                  <li><a href="#">Los más vendidos</a></li>
                  <li><a href="#">Deportes</a></li>
                  <li><a href="#">Outlet</a></li>
                </ul>
              </div>
            </div>
            <!-- Seccion 2 -->
            <div class="sec2">
              <div class="column left">
                <div class="column">
                  <ul>
                    <li class="flist"><a href="#">ROPA DE MUJER <i class="fas fa-arrow-right"></i></a></li>
                    <li><a href="#">Calzas</a></li>
                    <li><a href="#">Abrigos/Camperas</a></li>
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Buzos</a></li>
                    <li><a href="#">Joggers</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Remeras</a></li>
                  </ul>
                </div>
                <div class="column">
                  <ul>
                    <li class="flist2"><a href="#">Shorts</a></li>
                    <li><a href="#">Faldas</a></li>
                    <li><a href="#">Medias</a></li>
                    <li><a href="#">Corpiños deportivos</a></li>
                    <li><a href="#">Sweaters</a></li>
                    <li><a href="#">Traje de baño</a></li>
                    <li><a href="#">Ropa interior</a></li>
                  </ul>
                </div>
              </div>
              <div class="column right">
                <div class="column">
                  <ul>
                    <li class="flist"><a href="#">ACCESORIOS <i class="fas fa-arrow-right"></i></a></li>
                    <li><a href="#">Calzas</a></li>
                    <li><a href="#">Abrigos/Camperas</a></li>
                    <li><a href="#">Zapatillas</a></li>
                    <li><a href="#">Buzos</a></li>
                    <li><a href="#">Joggers</a></li>
                    <li><a href="#">Pantalones</a></li>
                    <li><a href="#">Remeras</a></li>
                  </ul>
              </div>
              </div>
    
            </div>
            <!-- Seccion 3 -->
            <div class="sec3">
              <div>
                <ul>
                  <img src="/images/header.jpeg" alt="">
                  <h3>Tu dia es para entrenar.</h3>
                  <p>Pantalones con innovación atlética para la vida cotidiana.</p>
                  <a href="">Comprar pantalon <i class="fas fa-arrow-right"></i></a>
                </ul>
              </div>
            </div>
        
        </div>
        <a class="link_h" href="#">HOMBRE</a>
        <div class="menu_desplegable _hombre">
          <!-- Seccion 1 -->
          <div class="sec1">
            <div class="leftlink">
              <ul>
                <li class="flist"><a href="#">Novedades</a></li>
                <li><a href="#">Los más vendidos</a></li>
                <li><a href="#">Deportes</a></li>
                <li><a href="#">Outlet</a></li>
              </ul>
            </div>
          </div>
          <!-- Seccion 2 -->
          <div class="sec2">
            <div class="column left">
              <div class="column">
                <ul>
                  <li class="flist"><a href="#">ROPA DE HOMBRE <i class="fas fa-arrow-right"></i></a></li>
                  <li><a href="#">Calzas</a></li>
                  <li><a href="#">Abrigos/Camperas</a></li>
                  <li><a href="#">Zapatillas</a></li>
                  <li><a href="#">Buzos</a></li>
                  <li><a href="#">Joggers</a></li>
                  <li><a href="#">Pantalones</a></li>
                  <li><a href="#">Remeras</a></li>
                </ul>
              </div>
              <div class="column">
                <ul>
                  <li class="flist2"><a href="#">Shorts</a></li>
                  <li><a href="#">Faldas</a></li>
                  <li><a href="#">Medias</a></li>
                  <li><a href="#">Corpiños deportivos</a></li>
                  <li><a href="#">Sweaters</a></li>
                  <li><a href="#">Traje de baño</a></li>
                  <li><a href="#">Ropa interior</a></li>
                </ul>
              </div>
            </div>
            <div class="column right">
              <div class="column">
                <ul>
                  <li class="flist"><a href="#">ACCESORIOS <i class="fas fa-arrow-right"></i></a></li>
                  <li><a href="#">Calzas</a></li>
                  <li><a href="#">Abrigos/Camperas</a></li>
                  <li><a href="#">Zapatillas</a></li>
                  <li><a href="#">Buzos</a></li>
                  <li><a href="#">Joggers</a></li>
                  <li><a href="#">Pantalones</a></li>
                  <li><a href="#">Remeras</a></li>
                </ul>
            </div>
            </div>
  
          </div>
          <!-- Seccion 3 -->
          <div class="sec3">
            <div>
              <ul>
                <img src="/images/header.jpeg" alt="">
                <h3>Tu dia es para entrenar.</h3>
                <p>Pantalones con innovación atlética para la vida cotidiana.</p>
                <a href="">Comprar pantalon <i class="fas fa-arrow-right"></i></a>
              </ul>
            </div>
          </div>
      
        </div>
        <a class="link_acc" href="#">ACCESORIOS</a>
        <a class="link_nov" href="#">NOVEDADES</a>
      </div>
    </div>
    <!-- MENU DERECHA -->
    <div class="auth">
      <div class="search_bar">
        <input class="input_search" type="text" placeholder="Buscar">
      </div>
      <div class="user_container">
          <div class="user_user_container">
            <div class="user_photobox">
              <img src="/images/17004.svg" alt="">
            </div>
            <p><%= req.session.userLogged.username%></p>
          </div>
          <div class="user_btn_container">
            <a href="/products/carrito">
              <div class="user_btn_shop">
                <i class="fas fa-shopping-bag"></i>
              </div>
            </a>
            <a href="">
              <div class="user_btn_notif">
                <div class="notification">1</div>
                <i class="fas fa-bell"></i>
              </div>
            </a>
            <a href="">
              <div class="user_btn_arrow">
                <i class="fas fa-caret-down"></i>
              </div>
            </a>
            <a href="/user/logout">
              <div class="user_btn_arrow">
                <i class="fas fa-sign-out-alt"></i>
              </div>
            </a>
          </div>
      </div>
    </div>
  </nav>
  </header>