<header>
    <nav>
        <!-- MENU IZQUIERDA -->
        <div class="menu">
            <div class="brand">
                <a href="/"><img src="/images/logo 500x500.png" alt=""></a>
            </div>
            <div class="link">
                <ul class="link_ok">
                  <li><a class="link_m" href="#">MUJER</a></li>
                    <div class="menu_desplegable _mujer">
                        <!-- Seccion 1 -->
                        <div class="sec1">
                          <div class="leftlink">
                            <ul>
                              <li class="flist"><a href="#">Novedades</a></li>
                              <li><a href="#">Los más vendidos</a></li>
                              <li><a href="#">Deportes</a></li>
                              <li><a href="#">Outlet</a></li>
                            </ul>
                          </div>
                        </div>
                        <!-- Seccion 2 -->
                        <div class="sec2">
                          <div class="column left">
                            <div class="column">
                              <ul>
                                <li class="flist"><a href="#">ROPA DE MUJER <i class="fas fa-arrow-right"></i></a></li>
                                <li><a href="#">Calzas</a></li>
                                <li><a href="#">Abrigos/Camperas</a></li>
                                <li><a href="#">Zapatillas</a></li>
                                <li><a href="#">Buzos</a></li>
                                <li><a href="#">Joggers</a></li>
                                <li><a href="#">Pantalones</a></li>
                                <li><a href="#">Remeras</a></li>
                              </ul>
                            </div>
                            <div class="column">
                              <ul>
                                <li class="flist2"><a href="#">Shorts</a></li>
                                <li><a href="#">Faldas</a></li>
                                <li><a href="#">Medias</a></li>
                                <li><a href="#">Corpiños deportivos</a></li>
                                <li><a href="#">Sweaters</a></li>
                                <li><a href="#">Traje de baño</a></li>
                                <li><a href="#">Ropa interior</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="column right">
                            <div class="column">
                              <ul>
                                <li class="flist"><a href="#">ACCESORIOS <i class="fas fa-arrow-right"></i></a></li>
                                <li><a href="#">Calzas</a></li>
                                <li><a href="#">Abrigos/Camperas</a></li>
                                <li><a href="#">Zapatillas</a></li>
                                <li><a href="#">Buzos</a></li>
                                <li><a href="#">Joggers</a></li>
                                <li><a href="#">Pantalones</a></li>
                                <li><a href="#">Remeras</a></li>
                              </ul>
                          </div>
                          </div>
                
                        </div>
                        <!-- Seccion 3 -->
                        <div class="sec3">
                          <div>
                            <ul>
                              <img src="/images/header.jpeg" alt="">
                              <h3>Tu dia es para entrenar.</h3>
                              <p>Pantalones con innovación atlética para la vida cotidiana.</p>
                              <a href="">Comprar pantalon <i class="fas fa-arrow-right"></i></a>
                            </ul>
                          </div>
                        </div>
                    
                    </div>
                  <li><a class="link_h" href="#">HOMBRE</a></li>
                    <div class="menu_desplegable _hombre">
                      <!-- Seccion 1 -->
                      <div class="sec1">
                        <div class="leftlink">
                          <ul>
                            <li class="flist"><a href="#">Novedades</a></li>
                            <li><a href="#">Los más vendidos</a></li>
                            <li><a href="#">Deportes</a></li>
                            <li><a href="#">Outlet</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- Seccion 2 -->
                      <div class="sec2">
                        <div class="column left">
                          <div class="column">
                            <ul>
                              <li class="flist"><a href="#">ROPA DE HOMBRE <i class="fas fa-arrow-right"></i></a></li>
                              <li><a href="#">Calzas</a></li>
                              <li><a href="#">Abrigos/Camperas</a></li>
                              <li><a href="#">Zapatillas</a></li>
                              <li><a href="#">Buzos</a></li>
                              <li><a href="#">Joggers</a></li>
                              <li><a href="#">Pantalones</a></li>
                              <li><a href="#">Remeras</a></li>
                            </ul>
                          </div>
                          <div class="column">
                            <ul>
                              <li class="flist2"><a href="#">Shorts</a></li>
                              <li><a href="#">Faldas</a></li>
                              <li><a href="#">Medias</a></li>
                              <li><a href="#">Corpiños deportivos</a></li>
                              <li><a href="#">Sweaters</a></li>
                              <li><a href="#">Traje de baño</a></li>
                              <li><a href="#">Ropa interior</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="column right">
                          <div class="column">
                            <ul>
                              <li class="flist"><a href="#">ACCESORIOS <i class="fas fa-arrow-right"></i></a></li>
                              <li><a href="#">Calzas</a></li>
                              <li><a href="#">Abrigos/Camperas</a></li>
                              <li><a href="#">Zapatillas</a></li>
                              <li><a href="#">Buzos</a></li>
                              <li><a href="#">Joggers</a></li>
                              <li><a href="#">Pantalones</a></li>
                              <li><a href="#">Remeras</a></li>
                            </ul>
                        </div>
                        </div>
              
                      </div>
                      <!-- Seccion 3 -->
                      <div class="sec3">
                        <div>
                          <ul>
                            <img src="/images/header.jpeg" alt="">
                            <h3>Tu dia es para entrenar.</h3>
                            <p>Pantalones con innovación atlética para la vida cotidiana.</p>
                            <a href="">Comprar pantalon <i class="fas fa-arrow-right"></i></a>
                          </ul>
                        </div>
                      </div>
                  
                    </div>
                  <li><a class="link_acc" href="#">ACCESORIOS</a></li>
                  <li><a class="link_nov" href="#">NOVEDADES</a></li>
                </ul>
              </div>
        </div>
        <!-- MENU DERECHA -->
        <div class="auth">
          <div class="search">
            <input type="text" class="search__input" placeholder="Busqueda...">
            <div class="search__icon">
              <i name='search' class="fas fa-search"></i>
            </div>
          </div>
          <div class="user_container" style="width: auto;">
            <div class="container" style="justify-content: flex-end;">
              <div class="user_section" style="width: 100px;">
                <a href="/user/register" class="reg" target="_blank">
                  <button class="btn social">
                    <div class="icon-container">
                      <i class="fas fa-user-plus"></i>
                    </div>
                  </button>
                </a>
                <a href="/user/login" class="reg" target="_blank">
                  <button class="btn social">
                    <div class="icon-container">
                      <i class="fas fa-sign-in-alt"></i>
                    </div>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>
  </header>
  <script>
    let logo = document.querySelector('.brand')
    let acc = document.querySelector('.link_acc')
    let nov = document.querySelector('.link_nov')
    let link_m = document.querySelector('.link_m')
    let desp_m = document.querySelector('.menu_desplegable._mujer')
    let link_h = document.querySelector('.link_h')
    let desp_h = document.querySelector('.menu_desplegable._hombre')
    
    link_m.addEventListener('mouseover', () => {
      if (desp_h.classList.contains('active')) {
      desp_h.classList.remove('active')
    }
      desp_m.classList.add('active')
    })
    nov.addEventListener('mouseover', () => {
      if (desp_h.classList.contains('active') || desp_m.classList.contains('active')) {
        desp_h.classList.remove('active')
        desp_m.classList.remove('active')
      }
    })
    acc.addEventListener('mouseover', () => {
      if (desp_h.classList.contains('active') || desp_m.classList.contains('active')) {
        desp_h.classList.remove('active')
        desp_m.classList.remove('active')
      }
    })
    logo.addEventListener('mouseover', () => {
      if (desp_h.classList.contains('active') || desp_m.classList.contains('active')) {
        desp_h.classList.remove('active')
        desp_m.classList.remove('active')
      }
    })
    /* Event close */
    desp_m.addEventListener('mouseleave', () => {
      if (desp_h.classList.contains('active') || desp_m.classList.contains('active')) {
        desp_h.classList.remove('active')
        desp_m.classList.remove('active')
      }
    })
    desp_h.addEventListener('mouseleave', () => {
      if (desp_h.classList.contains('active') || desp_m.classList.contains('active')) {
        desp_h.classList.remove('active')
        desp_m.classList.remove('active')
      }
    })

    window.addEventListener('click', () => {
      desp_m.classList.remove('active')
    })
    link_h.addEventListener('mouseover', () => {
      desp_h.classList.add('active')
    });
    window.addEventListener('click', () => {
      desp_h.classList.remove('active')
    })
  </script>