<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('../templates/header_login') %>
    <!-- Form -->
  <div class="body_container">
    <div class="form_login">
        <!-- Formulario Login y Registro -->
        <form>
            <div class="con">
                <section class="head-form">
                    <h2>Iniciar sesión</h2>
                    <p>Ingresa tu usuario y contraseña por favor.</p>
                </section>
                <div class="field-set">
                    <div class="field">
                        <input name="username" type="text" placeholder="Usuario" required>
                    </div>
                    <div class="field">
                        <input name="password" type="password" placeholder="Contraseña" id="pwd" required>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </div>
                    <div class="field">
                        <button class="log-in"> Ingresar </button>
                    </div>
                    <div class="other">
                        <a class="btn" href="">
                            Olvide mi Password
                        </a>
                        <a class="btn" href="/user/register">
                           Registrarse 
                           <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
            <!-- End Form -->
        </form>
    </div>
  </div>
  <!-- HEADER -->
  <%- include('../templates/footer') %>
</body>
<script src="/javascripts/log_reg.js"></script>

</html>