<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('../templates/header') %>
    <!-- Form -->
    <div class="body_container">
        <div class="form_login">
            <form action="/user/register" method="POST"> 
                <div class="con">
                    <section class="head-form">
                        <h2>Crea tu cuenta</h2>
                    </section>
                    <div class="field-config">
                        <input name="username" type="text" placeholder="Usuario"/>
                        <input name="firstname" type="text" placeholder="Nombre"/>
                        <input name="lastname" type="text" placeholder="Apellido"/>
                        <input name="cel" type="tel" placeholder="Celular"/>
                        <input name="email" type="email" placeholder="E-mail"/>
                        <input name="password" type="password" placeholder="Contraseña"/>
                        <input name="cpassword" type="password" placeholder="Repita contraseña"/>
                    </div>
                    <button type="submit" class="log-in">Registrate</button>
                </div>
                <!-- End Form -->
            </form>

        </div>
    </div>
  <!-- HEADER -->
  <%- include('../templates/footer') %>
</body>
<script src="/javascripts/log_reg.js"></script>

</html>
