.body_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    height: 100%;
}
.body_content{
    margin: 20px 40px;
}
.body_content h1{
    text-transform: uppercase;
}
.form_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 509px;
    height: initial;
    border-radius: 5px;
}

.addPro {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}
.addPro div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.addPro div label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
    justify-content: left;
}

.addPro div input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: left;
}

.addPro div select {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: left;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.butt_add{
    display: flex;
    justify-content: space-between;
}
.agregarProducto,
.reset{
    width: 40%;
    height: 8vh;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    font-family: montserrat;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Tablets en horizonal y escritorios normales */

@media (min-width: 768px) and (max-width: 1199px) {
    .esp div label {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: -moz-available;
        margin-top: 0px;
        padding: 30px;
        margin-bottom: 0px;
        width: 28%;
    }
    .esp {
        text-align: center;
    }
    .esp div input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: -moz-available;
        margin-bottom: 20px;
        padding: 10px;
        justify-content: left;
        border-radius: 5px;
    }
}

@media (max-width: 767px) {
    .esp div input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        width: 45%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        justify-content: left;
        border-radius: 5px;
        background-color: lavender;
    }
}