/*! CONTENT */
.body_container{
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 100vh;

}
.body_content{
    margin: 50px 10em 0px 6em;
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100vh;
}

.tittle h1{
    font-family: 'Roboto Condensed';
    font-size: 48px;
}
/*! MAQUETA */
.prod_sum_conteiner{
    display: flex;
    flex-direction: row;
}
.products{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    flex-basis: 0;
    height: 100vh;
}
.summary_acc_container{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    background: #AFE6F8;
    border-radius: 20px;
}
.product_content{
    width: 900px;
    height: 216px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-left: 6em;
    margin-top: 2em;
    box-shadow: 0px 10px 25px -12px rgba(0,0,0,0.75);
}

/* ·* Producto */
/* * Izquierda */
.product_left{
    display: flex;
    flex-direction: row;
    height: 176px;
    padding-left: 20px;
}
.product_imgbox{
    width: 176px;
    height: 176px;
    overflow: hidden;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.product_imgbox img{
    width: 100%;
}
.product_desc{
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.product_desc h2{
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 24px;
}
.product_desc ul li{
    list-style: none;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}
.product_desc p{
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
.product_love{
    font-size: 12px !important;
}
/* * Derecha */
.product_right{
    display: flex;
    height: 176px;
    flex-direction: row-reverse;
    right: 0;
    position: absolute;
    justify-content: flex-start;
    padding-right: 75px;
    align-items: center;
}
.product_right_content{
    display: flex;
    justify-content: center;

}



/*? Boton X */
.cross_container{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}
.crossbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}
.fas.fa-times{
    color: black;
    font-size: 19px;
}


