.body_container{
    background-color: turquoise;
    flex-direction: column;
    display:flex;
}

.body_contentW{
    display: flex;
    flex-direction: column;
}
.mujer{
    height:40%;
    overflow: hidden;
    position: relative;
    margin:-4px;
    
}
.mujer img{
    width: 100%;
    margin:0;
    
}

.mujer h2{
    position: absolute;
    z-index:1;
    top: 17%;
    left: 11%;
    font-size: xx-large;
}
.mujer p{
    position: absolute;
    z-index:1;
    top:31%;
    left: 11.3%;
    font-size: small;
    padding-right: 50%;
}
.productmujerbloque{
    position: relative;
    justify-content: space-between;
    background-color: white;

}

.productmujer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 420px;
    padding: 0px 5em;
    margin-top: 3em;
    overflow-x: hidden;
    
    
}
.art{
    position: relative;
    box-sizing: border-box;
    box-shadow:7px 7px 8px whitesmoke;
    width: 240px;
    height: 360px;
    border-radius: 16px;
    margin-inline: 3.5%;
    
}
.far.fa-heart{
    position: absolute;
    font-size: 140%;
    right:3%;
    padding:10px;
}
.imagen {
	height: 60%;
    display: flex;
}

.art .imagen img {
    margin: auto;
    
}

.art .textos {
	display: flex;
	flex-direction: column;
    align-content: center;
    margin:0;
}
.art .textos .nombreart {
	padding: 3px;
	position: relative;
    align-self: center;
    font-weight: bold;
    font-family: "roboto condensed";
    font-size: x-large;
}    
.art .textos .precioart{
    padding: 3px;
    position: relative;
    align-self: center;
    font-weight: lighter;
    font-family: "roboto condensed";
    font-size: xx-large;
}
.art .textos .addbasket{
    width: 90%;
    align-self: center;
    text-align: center;
    background-color: #b5bcd7;
    padding: 4%;
    border-radius: 4px;
    color: white;
}

/* Hombre*/
.body_contentM{
    display: flex;
    flex-direction: column;
}
.hombre{
    height:40%;
    position: relative;
    margin-bottom: -4px;
}
.hombre img{
    width: 100%;
    margin:0;
}

.hombre h2{
    position: absolute;
    z-index:1;
    top: 29%;
    left: 61%;
    font-size: xx-large;
}

.hombre p{
    position: absolute;
    z-index:1;
    top:42%;
    left: 61.3%;
    font-size: small;
    padding-right: 10px;
}    
.producthombrebloque{
    position: relative;
    justify-content: space-between;
    background-color: white;

}
.producthombre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 420px;
    padding: 0px 5em;
    margin-top: 3em;
    overflow-x: scroll;
}    

.bannerpromo{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    height:200px;
    background-color: #D1DAF9;
}

.bannerpromo h1 {
	width: 50%;
	align-self: center;
    padding-left: 4%;
    font-size: 150%;
}
.bannerpromo .boxemail{
    display: flex;
    width: 50%;
    align-self: center;
    padding-right: 4%;
}

form{
    width: 80%;
    padding-left: 15%;
}

.boxemail p {
	display: flex;
	
}

#email {
	width: 100%;
	height: 35px;
    display: flex;
    font-size: large;
}
.enviar {
	display: flex;
	justify-content: center;
}
.enviar button{
    width: 50px;
    height: 34px;
    background-color: #B5BCD7;
    align-self: center;
}
.fas.fa-arrow-right{
    position: absolute;
    align-self: center;
}

