*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
  }
body{ 
    display:flex; 
    flex-direction:column; 
}
.body_container{
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100vh;
}