.body_content{
    display: flex;
    flex-direction: row;
    padding: 40px 0px;  
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: center;
}

/* ! Feedback  */
.overflow_feedback{
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.overflow_feedback::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}
.feedback_container{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* ? Rating */
.fb_btn{
    display: flex;
    flex-direction: row;
    height: 100px;
    background: #7443FE;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.fb_btn_score h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.fb_btn_stars_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fb_btn_stars i{
    color:white;
}
.fb_btn_opi p{
    color: white;
    font-size: 18px;
    font-weight: 300;
}

/* ? Barras */

.fb_bars{
    display: flex;
    flex-direction: column;
}

.fb_bar5,
.fb_bar4,
.fb_bar3,
.fb_bar2,
.fb_bar1{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.fb_text{
    width: 50%;
}
.fb_text p{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;

}
.fb_bar_container{
    height: 10px;
    width: 100%;
    background-color: #C4C4C4;
    border-radius: 10px;
    overflow: hidden;
}

.fb_bar_complete{
    height: 10px;
    border-radius: 10px;
    background-color: #7443FE;
}

/* ·* fb_bar Position */

.fb_bar5 .fb_bar_complete{
    width: 70%;
}
.fb_bar4 .fb_bar_complete{
    width: 90%;
}
.fb_bar3 .fb_bar_complete{
    width: 35%;
}
.fb_bar2 .fb_bar_complete{
    width: 20%;
}
.fb_bar1 .fb_bar_complete{
    width: 10%;
}

/* ? Boton */

.fb_btn_2{
    display: flex;
    flex-direction: row;
    height: 100px;
    background: #7443FE;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.fb_btn_percent{
    display: flex;
    justify-content: center;
    width: 40%;
}
.fb_btn_percent h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.fb_btn_recom{
    width: 60%;
    margin: 5px 0px;
}
.fb_btn_recom p{
    color: white;
    text-align: center;
}

/* ? Especificaciones */
.spec_container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.spec1,
.spec2,
.spec3,
.spec4{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.spec_tittle_container{
    margin-bottom: 5px;
}
.spec_bar_container{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.spec_text_container{
    display: flex;
    justify-content: space-between;
}

.spec_tittle_container h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}
.spec_bar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #C4C4C4;
}
.spec_bar_dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #7443FE;
    position: absolute;
}
/* ·* Spec_bar_dot Position */

.spec1 div .spec_bar_dot{
    left: 45%;
}
.spec2 div .spec_bar_dot{
    left: 65%;
}
.spec3 div .spec_bar_dot{
    left: 50%;
}
.spec4 div .spec_bar_dot{
    left: 85%;
}

/* ! Imagen */
.photo_container{
    position: relative;
    flex-grow: 0.5;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_box{
    display: flex;
    justify-content: center;
    width: 550px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: blue;
}

.photo_container img{
    width: 100%;
    object-fit: cover;
}
.arrows_container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0 40px;
}
.arrows_container i{
    font-size: 48px;
    color: black;
    text-align: center;

}
/* ! Info */
.info_container{
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.2;
}
.info_category{
    
}
.info_category a{
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
}
.info_tittle{

}
.info_tittle h2{
    text-transform: uppercase;
    font-family:"Roboto Condensed";
    font-size: 54px;
}
.info_price{
    display: flex;
    flex-direction: column;
}
.info_price_discount{
    font-weight: 300;
    padding-left: 10px;
    color: #7443FE;
}
.info_price_old{
    text-decoration-line: line-through;
}
.info_price_ok{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info_price h3{
    font-weight: 300;
    font-size: 50px;
}
.info_price h4{
    font-weight: 300;
    font-size: 20px;
}

.info_disponible{
    
}
.info_disponible p{
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Roboto Condensed";
    font-weight: 300;
}

.info_color_container{
    display: flex;
    flex-direction: column;
}
.info_color_tittle{

}
.info_color_tittle p{
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Roboto Condensed";
    font-weight: 300;
}
.info_color_boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color_box1,
.color_box2,
.color_box3,
.color_box4,
.color_box5{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    margin-right: 12px;
}
.color_box1{
    background-color: black;
}
.color_box2{
    background-color: white;
}
.color_box3{
    background-color: red;
}
.color_box4{
    background-color: blue;
}
.color_box5{
    background-color: green;
}
.color_box1:hover,
.color_box2:hover,
.color_box3:hover,
.color_box4:hover,
.color_box5:hover{
    transform: translateY(-2px);
    box-shadow: 7px 4px 20px -2px rgba(0,0,0,0.30);
}
.info_size_container{
    display: flex;
    flex-direction: column;
}
.info_size_tittle p{
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Roboto Condensed";
    font-weight: 300;    
}
.info_size_boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.size_box1,
.size_box2,
.size_box3,
.size_box4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 125px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    margin-top: 12px;
}

.size_box1 p,
.size_box2 p,
.size_box3 p,
.size_box4 p{
    text-transform: uppercase;
    font-family:"Roboto";
    font-weight: 300;   
}

.info_fit_container{
    display: flex;
    flex-direction: column;
}
.info_fit_tittle p{
    text-transform: uppercase;
    font-family:"Roboto Condensed";
    font-weight: 300;    
}
.info_fit_boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fit_box1,
.fit_box2,
.fit_box3,
.fit_box4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 50px;
}
.fit_bar{
    width: 80%;
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 5px;
}
.fit_bar_active{
    width: 80%;
    height: 5px;
    background-color: #7443FE;
    border-radius: 5px;
}
.fit_bar_tittle{
    margin-top: 7px;
}
.fit_bar_tittle p{
    text-align: center;
    text-transform: uppercase;
    font-family:"Roboto";
    font-weight: 300;   
}

.info_btn_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
.info_btn_buy,
.info_btn_love{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7443FE;
    height: 100%;
    border-radius: 10px;    
}
.info_btn_size{
    width: 90%;
}

.info_btn_love{
    width: 50px;
}

.info_btn_buy p{
    font-size: 20px;    
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    text-align: center;
}

.info_btn_love i{
    font-size: 20px;
    color: white;
    text-align: center;    
}