/*! Maquetado */
.footer{
    position: fixed;
    bottom: 0;
    background: #2c2c2c;
    width: 100%;
    height: 300px;
}
.footer_content{
    display: flex;
    margin: 2em 5em;
    height: 100%;
}
.f_col1{
    flex-grow: 3;
    flex-basis: 0;
}
.f_col3{
    flex-grow: 1;
    flex-basis: 0;
}
.f_col4{
    flex-grow: 1;
    flex-basis: 0;
}
.f_col1_top{
    padding-right: 5em;
}
.f_col1_bot{
    display: flex;
    flex-direction: row;
}
.f_col1_bot_content{
    padding-top: 2em;
    flex-grow: 1;
    flex-basis: 0;
}

/*? Estilos */
.f_col1_top h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.f_col1_top p{
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.f_col1_bot_content h3{
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.f_col1_bot_content p{
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.f_col3_content div a{
    text-decoration: none;
    color: black;
}