/*! Maquetado */
.footer{
    position: fixed;
    bottom: 0;
    background: #0a0a0a;
    width: 100%;
    height: 300px;
}
.footer_content{
    display: flex;
    margin: 2em 5em;
    height: 100%;
}
.f_col1{
    flex-grow: 2;
    flex-basis: 0;
}
.f_col2{
    flex-grow: 1;
    flex-basis: 0;
}
.f_col3{
    flex-grow: 1;
    flex-basis: 0;
}
.f_col1_top{
    padding-right: 5em;
}
.f_col1_bot{
    display: flex;
    flex-direction: row;
}
.f_col1_bot_content{
    padding-top: 2em;
    flex-grow: 1;
    flex-basis: 0;
}

/*? Estilos */

/* ·* Columna 1 */
.f_col1_top h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.f_col1_top p{
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.f_col1_bot_content h3{
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.f_col1_bot_content p{
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.f_col2_content div a{
    text-decoration: none;
    color: black;
}

.f_col2_content h3{
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.f_col2_content div{
    padding-bottom: 0.5em;
}

.f_col2_content div a{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.f_col2_content div i{
    font-size: 40px;
    padding-right: 0.5em;
}

.f_link a{
    display: flex;
    align-items: center;
}

.fab.fa-facebook-square{
    color: #3b5998;
}
.fab.fa-twitter-square{
    color: #00acee;
}

.f_col3_content h3{
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.f_col3_content ul li{
    list-style: none;
    padding-bottom: 0.5em;
}
.f_col3_content ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

/* ·* Display */
.footer{
    display: none;
}