header{
  height: 90px;
}
header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*! HEADER STICKY */

/** MENU IZQUIERDA */
header nav .menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 80px;
  width: 50%;
}
header nav .menu .brand{
  height: 90px;
}
header nav .menu .brand img{
  height: 100%;
}
header nav .menu .link{
  display: flex;
  padding-left: 16px;
}
header nav .menu .link .link_m,
header nav .menu .link .link_h,
header nav .menu .link .link_acc,
header nav .menu .link .link_nov{
  font-size: 20px;
  font-weight: 500;
  padding: 16px 22px;
  color: black;
}
.link_ok{
  display: flex;
}
.active{
  z-index: 99;
}
/** MENU DERECHA */
.auth{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;

}
.auth .reg,
.auth .log{
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: black;
  display: flex;
  align-items: center;
  max-width: 150px;
}
.search_bar{
  margin-right: 50px;
}
.user_user_container{
  margin-right: 5px;
}
.input_search{
	padding: 5px;
  font-size: 18px;
  width: 350px;
  transition: transform 250ms ease-in-out;
  line-height: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.input_search::placeholder{
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  padding-left: 10px;
}
.input_search:hover,
.input_search:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
/** MENU DERECHA USER */
.user_container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 350px;
  align-items: center;
  
}
.user_section{
  width: 150px;
  display: flex;
  justify-content: space-between;
}


.user_btn_shop i,
.user_btn_notif i,
.user_btn_arrow i{
  text-align: center;
  font-size: 18px;
  color: #66676B;
}
.notification{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  top: -5px;
  left: 25px;
  border-radius: 50px;
  background-color: #DE3F4F;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

/*! MENU DESPLEGABLE */
.menu_desplegable{
  height: 365px;

  display: flex;
  position: absolute;
  top: 86px;
  left: 0px;
}
/*tamaños*/
.menu_desplegable .sec1{
  background-color: white;
  height: 365px;
  flex-grow: 1;
  flex-basis: 0;
}
.menu_desplegable .sec2{
  background-color: white;
  height: 365px;
  flex-grow: 3;
  flex-basis: 0;
}
.menu_desplegable .sec3{
  background-color: white;
  height: 365px;
  flex-grow: 2;
  flex-basis: 0;
}

.menu_desplegable div div ul li{
  list-style: none;
  padding-left: 3em;
  padding-bottom: 1em;
}

.menu_desplegable div div ul li a{
  color: black;
  text-decoration: none;
}
.menu_desplegable div div ul .h_null{
  padding-top: 3em;
}
.column {
  float: left;
  width: 50%;
}
.column.left{
  width: 60%;
}
.column.right{
  width: 40%;
}
.menu_desplegable .sec3 div img{
  width: 50%;
  padding-top: 20px;
}
.menu_desplegable .sec3 div ul h3{
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}
.menu_desplegable .sec3 div ul p{
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu_desplegable .sec3 div ul a{
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.flist{
  font-weight: 700;
  padding-top: 16px;
}
.flist2{
  padding-top: 48px;
}
.leftlink ul li a{
  padding-left: 3em;
}


/* BOTONES */
button {
  border: 0;
}
button:focus {
  border: none;
  outline: 0 !important;
  outline-style: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container .btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: white;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn.user{
  width: auto;
  display: flex;
  align-items: center;
}
.btn.user p{
  margin-right: 20px;
  margin-left: 5px;
}
.user_img{
  position: relative;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.user_img img{
  width: 100%;
}
.shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  top: 0;
  left: 0;
}
.container .btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: 2;
}
.container .btn:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}
.container .btn:active:after {
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.container .btn .icon-container,
.container .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .btn i {
  color: #66676B;
  font-size: 15px;
  z-index: 10;
}
.container .btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  fill: #868686;
  height: 1.4rem;
  vertical-align: middle;
  width: 1.4rem;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* SEARCH */
.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search__input {
  width: 320px;
  height: 40px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding-left: 3.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #ebebeb, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
  background: none;
  font-family: inherit;
  color: #c4c4c4;
}
.search__input::-moz-placeholder {
  color: #c4c4c4;
}
.search__input:-ms-input-placeholder {
  color: #c4c4c4;
}
.search__input::placeholder {
  color: #c4c4c4;
}
.search__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem #ebebeb, -0.2rem -0.2rem 0.5rem #FFFFFF;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.search__input:focus + .search__icon {
  color: #7443FE;
}
.search__icon {
  height: 1.5rem;
  position: absolute;
  font-size: 1.5rem;
  padding: 0 1rem;
  display: flex;
  color: #c4c4c4;
  transition: 0.3s ease;
}
