form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color: rgba(223, 214, 229, 0.5);
    /* background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%); */
}

/* form Container */

form .con {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}


/*  header = section */

section {
    margin: 2% auto 10% auto;
    text-align: center;
}


/* Login title  */

section h2 {
    font-size: 250%;
    font-family: 'Roboto';
    color: #3e403f;
}

section p {
    letter-spacing: 0.05em;
}

/* .input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
} */


/* Icono mostrar / ocultar password  */

#eye {
    background: #fff;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 5px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    cursor: pointer;
}

/* inputs form  */
input[class="form-input"] {
    width: 255px;
    height: 40px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

input[id="txt-input"] {
    width: 275px;
}

.field-config {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    margin-bottom: -1px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    padding-bottom: -1px;
}


/* focus  */

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


/* //////////////////////////////////////////// */


/* buttons  */

button {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}


/* Submits */

.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}


/*     Sign Up button  */

.sign-up {
    background: #B8F2E6;
}


/* buttons hover */

button:hover {
    transform: translatey(3px);
    box-shadow: none;
}


/* Animacion de los botones */

button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.body_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/images/Bground_register.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}