form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 40px;
}


.con{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}
.head-form{
    margin: 2% auto 10% auto;
    text-align: center;
}
.head-form h2 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto';
    color: black;
}
.head-form p {
    letter-spacing: 0.05em;
}
#eye {
    color: #333;
}

/* inputs form  */
.field{
    position: relative;
}
.field input{
    width: 100%;
    height: 40px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
    box-shadow: 10px 10px 45px -18px rgba(0,0,0,1);
}

.field i{
    position: absolute;
    top: 18px;
    right: 15px;
}

.field-config {
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
    margin-bottom: -1px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    padding-bottom: -1px;
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.log-in {
    color: #252537;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background: #7443FE;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 150px;
    height: 50px;
    padding: 0 20px;
    background: #7443FE;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.other{
    display: flex;
    justify-content: space-between;
    width: 320px;
}


.btn:hover {
    transform: translatey(3px);
    box-shadow: none;
    animation: ani9 0.4s ease-in-out infinite alternate;
}

button:hover {
    transform: translatey(3px);
    box-shadow: none;
}


/* Animacion de los botones */

button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.body_container {
    justify-content: center;
    height: 75vh;
}

.modalErrors{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column; 
    box-shadow: 13px 37px 68px -31px rgba(104,104,104,0.5);
    border-radius: 10px;
    right: 230px;
    top: 150px;
    height: auto;
    background-color: #7443FE;
}
.modalErrors h2{
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
}
.modalErrors ul{
    margin: 10px;
}
.modalErrors ul li{
    color: white;
    list-style: none;
    margin: 10px 0px;
}
.cross{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 10px;
    right: 15px;
}
.cross i{
    font-size: 24px;
    color: white;
}
.cross i:hover{
    cursor: pointer;
}