.body_container{
    height: auto;
    flex-direction: column;
}
.body_contentW{
    display: flex;
    flex-direction: column;
    background:black;
}
.bannerWoman{
    height: 550px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    background-image: url('/images/pexels-ketut-subiyanto-44263252.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerMen{
    height: 550px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    background-image: url('/images/pexels-andrea-piacquadio-3771058 2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.multiply {
    color: white;
    mix-blend-mode: multiply;
    background-color: rgba(0, 0, 0,0.6);
}
.title{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 250px;
    text-align: center;
    text-transform: uppercase;
}
.subtitle{
    position: absolute;
    width: 100%;
    padding-top: 350px;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    text-align: center;
}
/* PRUEBA CODE */
.slider_container{
    width: 100%;
    margin: auto;
    background-color: white;
}
.slider, li {
    list-style: none;
}
.slider{
    position: relative;
    width: 100%;
    height: 350px;
}
ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
}

.slide1, .slide2, .slide3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
  
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
  
.slider_menu{
    text-align: center;
    margin: 20px;
}
  
.slider_menu li{
    display: inline-block;
    text-align: center;
}
  
.slider_menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
/* CODIGO */
.product{
    position: relative;
    background-color: red;
    box-shadow:7px 7px 8px white;
    width: 240px;
    height: 360px;
    border-radius: 16px;
}
.far.fa-heart{
    position: absolute;
    font-size: 140%;
    right:3%;
    padding:10px;
}
.imagen{
	height: 60%;
    display: flex;
}

.product .imagen img {
    margin: auto;
}

.product .textos {
	display: flex;
	flex-direction: column;
    align-content: center;
    margin:0;
}
.product .textos .nombreart {
	padding: 3px;
	position: relative;
    align-self: center;
    font-weight: bold;
    font-family: "roboto condensed";
    font-size: x-large;
}    
.product .textos .precioart{
    padding: 3px;
    position: relative;
    align-self: center;
    font-weight: lighter;
    font-family: "roboto condensed";
    font-size: xx-large;
}
.product .textos .addbasket{
    width: 90%;
    align-self: center;
    text-align: center;
    background-color: #7443FE;
    padding: 4%;
    border-radius: 4px;
    color: white;
}

/* Hombre*/
.body_contentM{
    display: flex;
    flex-direction: column;
}
.hombre{
    height:40%;
    position: relative;
    margin-bottom: -4px;
}
.hombre img{
    width: 100%;
    margin:0;
}

.hombre h2{
    position: absolute;
    z-index:1;
    top: 29%;
    left: 61%;
    font-size: xx-large;
}

.hombre p{
    position: absolute;
    z-index:1;
    top:42%;
    left: 61.3%;
    font-size: small;
    padding-right: 10px;
}    
.producthombrebloque{
    position: relative;
    justify-content: space-between;
    background-color: white;

}
.producthombre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 420px;
    padding: 0px 5em;
    margin-top: 3em;
    overflow-x: scroll;
}    

.bannerpromo{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    height:200px;
    background-color: #D1DAF9;
}

.bannerpromo h1 {
	width: 50%;
	align-self: center;
    padding-left: 4%;
    font-size: 150%;
}
.bannerpromo .boxemail{
    display: flex;
    width: 50%;
    align-self: center;
    padding-right: 4%;
}

form{
    width: 80%;
    padding-left: 15%;
}

.boxemail p {
	display: flex;
	
}

#email {
	width: 100%;
	height: 35px;
    display: flex;
    font-size: large;
}
.enviar {
	display: flex;
	justify-content: center;
}
.enviar button{
    width: 50px;
    height: 34px;
    background-color: #B5BCD7;
    align-self: center;
}
.fas.fa-arrow-right{
    position: absolute;
    align-self: center;
}

