body{
    background-color: var(--var-background);
}

.body_container{
    height: auto;
    flex-direction: column;
}
.body_contentW{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.bannerWoman{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    background-image: url('/images/pexels-ketut-subiyanto-44263252.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerMen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    background-image: url('/images/pexels-andrea-piacquadio-3771058 2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.product{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    width: 230px;
    height: 360px;
    border-radius: 16px;
    background-image: url('/images/pexels-photo-4194672.jpeg');
    background-size: cover;
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.product img{
    width: 100%;
}
.product_bot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 160px;
    background-color: var(--var-background);
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5), 5px 5px 20px #D6D6D6;
    border-radius: 10px;
    padding: 10px;
}

.product_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_title p{
    color: #1F1F1F;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.product_price p{
    color: #1F1F1F;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    text-shadow: 3px 3px 6px rgba(148, 148, 148, 0.55);
}
.stars{
    padding-top: 5px;
    width: 80px;
    display: flex;
justify-content: space-between;
}
.stars i{
    font-size: 12px;
}
.product_btns{
    display: flex;
    justify-content: space-between;
}
.btn_love{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F1F1F;
    width: 36px;
    height: 36px;
    background-color: var(--var-background);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.75), 5px 5px 20px #D6D6D6;
    border-radius: 10px;
}
.btn_buy{
    width: 164px;
    height: 36px;
    background-color: var(--var-background);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.75), 5px 5px 20px #D6D6D6;
    border-radius: 10px;
    color: #1F1F1F;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hombre*/
.body_contentM{
    display: flex;
    flex-direction: column;
}
.hombre{
    height:40%;
    position: relative;
    margin-bottom: -4px;
}
.hombre img{
    width: 100%;
    margin:0;
}

.hombre h2{
    position: absolute;
    z-index:1;
    top: 29%;
    left: 61%;
    font-size: xx-large;
}

.hombre p{
    position: absolute;
    z-index:1;
    top:42%;
    left: 61.3%;
    font-size: small;
    padding-right: 10px;
}    
.producthombrebloque{
    position: relative;
    justify-content: space-between;
    background-color: white;

}
.producthombre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 420px;
    padding: 0px 5em;
    margin-top: 3em;
    overflow-x: scroll;
}
.bannercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
.bannerpromo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height:200px;
    width: 1650px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  37px 37px 75px #d9d9d9,
                 -10px -10px 25px white;
}

.bannerpromo h1 {
    color: black;
	width: 50%;
	align-self: center;
    padding-left: 4%;
    font-size: 150%;
}
.email {
    position: relative;
    display: flex;
    align-items: center;
}
.email form{
    display: flex;
    align-items: center;
}
.email__input {
    width: 420px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 3.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #ebebeb, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
    background: none;
    font-family: inherit;
    color: black;
}
.email__input::-moz-placeholder {
    color: #c4c4c4;
}
.email__input:-ms-input-placeholder {
    color: #c4c4c4;
}
.email__input::placeholder {
    color: #c4c4c4;
}
.email__input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem #ebebeb, -0.2rem -0.2rem 0.5rem #FFFFFF;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
.email__input:focus + .email__icon {
    color: #7443FE;
}
.email__icon {
    height: 1.5rem;
    position: absolute;
    font-size: 1.5rem;
    padding: 0 1rem;
    display: flex;
    color: #c4c4c4;
    transition: 0.3s ease;
}
.btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: white;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px -6px 10px white, 0px 4px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: 2;
}
.btn:active {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}
.btn:active:after {
    box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}